# SMTP Configuration
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password

# Contact Form Configuration
CONTACT_EMAIL=recipient@example.com

# Analytics Configuration
NEXT_PUBLIC_ANALYTICS_URL=url_to_umami
NEXT_PUBLIC_ANALYTICS_WEBSITE_ID=abc